.player_container {
  width: auto;
  height: auto;
  flex: 2;
  margin-right: 15px;

  .player {
    position: relative;

    div {
      position: absolute;
    }
  }

  @media screen and (max-width: 600px) {
    margin-bottom: 15px;
  }
}
